:root {
  --color-primary: #8bacda;
  --color-secondary: #00fff7;
  --color-neutral: #14253d;
  --color-neutral-dark: #0d192b;
  --color-neutral-light: #2f415b;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  background-color: var(--color-neutral-dark);

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  color: var(--color-white);
}

.card {
  width: 37.5rem;
  padding: 3rem;
  background-color: var(--color-neutral);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  align-items: center;
}

.card__image {
  grid-column: 1/-1;
  width: 100%;
  border-radius: 1rem;
}

.name {
  grid-column: 1/-1;
  font-size: 2.2rem;
  transition: all 0.3s;
  cursor: pointer;
  /* font-weight: 400; */
}

.name:hover {
  color: var(--color-secondary);
}

.quantity {
  align-self: start;
}

.quantity__info {
  color: var(--color-secondary);
  font-weight: 600;
}

.title {
  grid-column: 1/-1;
  font-weight: 300;
  color: var(--color-primary);
}

.timeleft {
  justify-self: right;
  align-self: start;
}

.time__info {
  font-weight: 300;
  color: var(--color-primary);
}

.owner {
  grid-column: 1/-1;
  display: flex;
  gap: 2rem;
  align-items: center;
  position: relative;
}

.owner::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--color-primary);
  display: block;

  position: absolute;
  top: -1.5rem;
  left: 0;
  z-index: 100;
}

.owner__image {
  width: 4rem;
  border: solid 1px var(--color-white);
  border-radius: 10rem;
}

.owner__name {
  font-weight: 300;
  color: var(--color-primary);
}

.owner__name_decor {
  font-weight: 400;
  color: var(--color-white);
  transition: all 0.3s;
  cursor: pointer;
}

.owner__name_decor:hover {
  color: var(--color-secondary);
}
